# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/examples/**/*/node_modules
/examples/**/*/build

# testing
/coverage

# docs
/docs

# production
/build
/lib

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# developers (non-standard)
db.mock.json
package-lock.json
.old
.idea
.vscode